<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
        <link rel="stylesheet" type="text/css" href="/css/about-us.css">
    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>

        <div class="container" id="aboutus-txt">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Join Us, Transmit Love</h1>
                    <p>&nbsp &nbsp &nbspOur website focuses on facilitating the aged people's everyday life around the world and also provide a unique volunteering opportunity for individuals who have a high enthusiasm for helping the vulnerable people in their neighbour communities.<br>&nbsp &nbsp &nbspThe aged people belong to a visible minority that requires more attention and concern from our contemporary society. In the present days, an extraordinarily high percentage of aged people are experiencing severe physical problems that negatively affect their daily activities, especially in some undeveloped countries with ineffective health care policies and poor hygiene infrastructures. Moreover, there are also a large number of aged people who live along by themselves without their kids' accompany and support. Those aged people are highly likely to experience psychological trauma that is much harder to be treated as compared to the physical difficulties mentioned before. Therefore, the aged people actively need abundant kind volunteers to help them overcoming various difficulties they are facing every day.</p>
                </div>
                <div class="col-sm-4">
                    <img id="imgTextbook" src="../img/images.jpeg" alt="textbook">
                </div>
            </div>
        </div>
    
        <% include ./partials/footer.ejs %>
    </body>
</html>