<!DOCTYPE html>
<html lang="en">
    <head>
        
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
    <% include ./partials/head.ejs %>

    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>

          <div class="container text-center" id = "main-img">
            <div class="jumbotron">
                <div id = "mission-background">
                <h3 id="ourmission">Our Mission</h3>
                <p id = "mission">With aging, the ability of elders to do daily activities declines. If you are looking for someone to take care of your older family members, we can help! Comfort Care connects you to hundreds of volunteers and non-profit organizations, which provide a huge variety of services for elders. <a href = "signup.html"><b>SIGN UP NOW!</b></a></p>
                </div>
            </div>


        </div>

  
        <div class="container" id = "bottum-container">
            <h1 class="text-center">What We <em id="emProvide">Provide</em>?</h1>
            <div class="row" id ="info-row">
                <div class="col-sm-4">
                    <h3>Performance</h3>
                    <p>With ComfortCare, you can find help most quickly, with low costs.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Variety</h3>
                    <p>ComfortCare contains a database of volunteer resource provided by all age.
                    We have volunteers with variety skills including driving, social interation, nursing, home care etc. 
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Satisfaction</h3>
                    <p>With ComfortCare's rating system, users are guaranteed to find a volunteers that most satisfy you</p>
                </div>
            </div>
        </div>

        <% include ./partials/footer.ejs %>
    </body>
</html>