<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
        <script src="http://maps.googleapis.com/maps/api/js"> </script>
        <script>
        var map;
        var markers = [];
        var path = [];
        var myCenter=new google.maps.LatLng(43.659931,-79.397454);
        var la;
        var ln;


        function initialize()
        {
            var mapProp = {
            center:myCenter,
            zoom:13,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };  
            var marker = new google.maps.Marker({
                position: myCenter,
                title:'Click to zoom'
        });
        map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

        google.maps.event.addListener(map, 'click', function(event) {
        deleteMarkers();
        addMarker(event.latLng);
        newfunction();
        marker = markers[0];
            });

        google.maps.event.addListener(map,'center_changed',function() {
            if (markers.length == 0) {
                window.setTimeout(function() {
                 map.panTo(marker.getPosition());
              },3000);
                window.setTimeout(function() {
                 map.setZoom(16);},3000);
            }else{
                window.setTimeout(function() {
                 map.panTo(markers[0].getPosition());
              },3000);
                window.setTimeout(function() {
                 map.setZoom(16);},3000);
            }
        });
        }
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
            }
            for (var i = 0; i < path.length; i++) {
            path[i].setMap(map);
            }
            }
        function deleteMarkers() {
            setMapOnAll(null);
            markers = [];
            path = [];
        }
        function addMarker(location) {
            var marker = new google.maps.Marker({
            position: location,
            title:'Click to zoom',
            map: map
            });
            var infowindow = new google.maps.InfoWindow({
            content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
            });
            la = location.lat();
            ln = location.lng();
            markers.push(marker);
            infowindow.open(map, marker);
            var myCity = new google.maps.Circle({
                center:location,
                strokeColor:"#0000FF",
                strokeOpacity:0.8,
                strokeWeight:2,
                fillColor:"#0000FF",
                fillOpacity:0.4
                });
            path.push(myCity);
            setMapOnAll(map);
            document.getElementById("la").innerHTML=la;
            document.getElementById("ln").innerHTML=ln;
            }

        google.maps.event.addDomListener(window, 'load', initialize);

        function newfunction(){
            var newfe = document.getElementById("latitude");
            var fefe = newfe.value = la.toString();
            var newfe1 = document.getElementById("Longitude");
            var fefe1 = newfe1.value = ln.toString();
        }
            </script>
    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Apply To Be A Volunteer Today!</h1>
                    <form id="form" class="form" action="volunteer-apply" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" name="confirmPassword">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputConfirmPassword" placeholder="phone" name="phone">
                        </div>
                        <div class="form-group">
                            <input type="phone" class="form-control" id="description" placeholder="description" name="description">
                        </div>
                        <div class="form-group">
                            <input type="latitude" class="form-control" id="latitude" placeholder="Auto fill your Latitude when you click Sign up" name="latitude">
                        </div>
                        <div class="form-group">
                            <input type="Longitude" class="form-control" id="Longitude" placeholder="Auto fill your Longitude when you click Sign up" name="altitude">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success" onclick="newfunction()">Sign up!</button>
                        </div>
                    </form>
                    <p>Please locate your address on the map</p>
                </div>
                <div class="col-sm-4">
                    <div id="googleMap" style="width:400px;height:540px;"></div>
                </div>
            </div>
        </div>
        <% include ./partials/footer.ejs %>
    </body>
</html>