<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
          <script src="http://maps.googleapis.com/maps/api/js"> </script>
        <style type="text/css">

            body {
                  margin:0px;
                  background-image:none;
                  position:static;
                  left:auto;
                  width:1175px;
                  margin-left:0;
                  margin-right:0;
                  text-align:left;
                }
                @font-face {font-family: Raleway; src: url("font/raleway/RalewayThin.otf");
                src: url("font/raleway/RalewayThin.ttf");}
                @font-face {font-family: mediaGothic; src: url("font/mediaGothic/MediaGothic.ttf");}

                .head3{
                  font-family:Geneva; 
                }

                .abc{
                  color: blue;
                }

                #base {
                  position:absolute;
                  z-index:0;
                }
                #u0 {
                  position:absolute;
                  left:910px;
                  top:120px;
                  width:250px;
                  height:500px;
                  background-color: #d9d9d9;
                  border: 2px outset #fff;
                  box-shadow: 3px 4px 5px #000;
                  -webkit-box-shadow: 3px 4px 5px #000;
                  -moz-box-shadow: 3px 4px 5px #000;
                  z-index: 1;
                }

                #u1 {
                  position:absolute;
                  left:2px;
                  top:77px;
                  width:286px;
                  visibility:hidden;
                  word-wrap:break-word;
                }
                #u2 {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:1200px;
                  height:700px;

                }

                #u3 {
                  position:absolute;
                  left:2px;
                  top:42px;
                  width:1196px;
                  visibility:hidden;
                  word-wrap:break-word;
                }
                #u4 {
                  position:absolute;
                  left:1000px;
                  top:50px;
                  width:140px;
                  height:30px;
                }
                #u4_img {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:140px;
                  height:30px;
                }
                #u5 {
                  position:absolute;
                  left:2px;
                  top:7px;
                  width:136px;
                  word-wrap:break-word;
                }
                #u6 {
                  position:absolute;
                  left:400px;
                  top:70px;
                  width:250px;
                  height:37px;
                  z-index: 10px;
                }
                #u6_img {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:250px;
                  height:37px;
                }
                #u7 {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:250px;
                  white-space:nowrap;
                  font-family: mediaGothic;
                  color: #dddad6;
                }

                #navigatorDiv {
                  position:absolute;
                  left:-25px;
                  top:0px;
                  width:1225px;
                  height:50px;
                  background-color: #354B61;
                  box-shadow: 3px 4px 5px #000;
                  -webkit-box-shadow: 3px 4px 5px #000;
                  -moz-box-shadow: 3px 4px 5px #000;

                }
                .navigator{
                  overflow: hidden;
                  list-style-type: none;
                  padding-right: 30px;

                }

                .navigator #button1, #button2, #button3, #button4{
                  float: left; 
                  margin-left: 30px;
                  padding-right: 40px;
                  padding-top: 12px;
                }

                .navigator #signup, #login{
                  float: right; 
                  padding-right: 40px;
                  padding-top: 10px;

                }

                .navigator li a{
                  display: block; 

                  color: white;
                  text-decoration: none;
                  font-family: Raleway, sans-serif;
                  font-size: 16px;
                  padding:7px;
                  -webkit-transition: margin 0.2s ease-out;
                  -moz-transition: margin 0.2s ease-out;
                  -o-transition: margin 0.2s ease-out;
                }
                .navigator li a:hover {
                    text-shadow: 2px 2px 4px #00ffff;
                    -webkit-text-shadow: 2px 2px 6px #66ffff;
                    -moz-text-shadow: 2px 2px 6px #66ffff;

                    margin-top: -3px;

                }

                .navigator li:active{
                 -webkit-transform: rotate(-7deg);
                 -moz-transform: rotate(-7deg);
                 -o-transform: rotate(-7deg);
                }
                #u10 {
                  position:absolute;
                  left:250px;
                  top:120px;
                  width:650px;
                  height:540px;
                  box-shadow: 0px 0px 10px #fff;
                  -webkit-box-shadow: 0px 0px 10px #fff;
                  -moz-box-shadow: 0px 0px 10px #fff;
                }
                #u10_img {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:650px;
                  height:540px;
                }
                #u11 {
                  position:absolute;
                  left:2px;
                  top:262px;
                  width:646px;
                  visibility:hidden;
                  word-wrap:break-word;
                }
                #u12 {
                  position:absolute;
                  left:10px;
                  top:120px;
                  width:230px;
                  height:330px;
                  background-color: #d9d9d9;
                  border: 2px outset #fff;
                  box-shadow: 3px 4px 5px #000;
                  -webkit-box-shadow: 3px 4px 5px #000;
                  -moz-box-shadow: 3px 4px 5px #000;
                }
                /*#u12_img {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:230px;
                  height:330px;
                }*/
                #u13 {
                  position:absolute;
                  left:2px;
                  top:157px;
                  width:226px;
                  visibility:hidden;
                  word-wrap:break-word;
                }
                #u14 {
                  position:absolute;
                  left:25px;
                  top:248px;
                  width:200px;
                  height:22px;
                }
                #u14_input {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:200px;
                  height:22px;
                  font-family:'Arial Regular', 'Arial';
                  font-weight:400;
                  font-style:normal;
                  font-size:13px;
                  text-decoration:none;
                  color:#000000;
                }
                #u14_input:disabled {
                  color:grayText;
                }
                #u15 {
                  position:absolute;
                  left:25px;
                  top:214px;
                  width:159px;
                  height:16px;
                }
                #u15_img {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:159px;
                  height:16px;
                }
                #u16 {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:159px;
                  white-space:nowrap;
                }
                #u17 {
                  position:absolute;
                  left:25px;
                  top:324px;
                  width:161px;
                  height:16px;
                }
                #u17_img {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:161px;
                  height:16px;
                }
                #u18 {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:161px;
                  white-space:nowrap;
                }
                #u19 {
                  position:absolute;
                  left:25px;
                  top:360px;
                  width:200px;
                  height:22px;
                }
                #u19_input {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:200px;
                  height:22px;
                  font-family:'Arial Regular', 'Arial';
                  font-weight:400;
                  font-style:normal;
                  font-size:13px;
                  text-decoration:none;
                  color:#000000;
                }
                #u19_input:disabled {
                  color:grayText;
                }
                #u20 {
                  position:absolute;
                  left:58px;
                  top:405px;
                  width:135px;
                  height:25px;
                }
                #u20_input {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:135px;
                  height:25px;
                  font-family:'Arial Regular', 'Arial';
                  font-weight:400;
                  font-style:normal;
                  font-size:13px;
                  text-decoration:none;
                  color:#000000;
                  text-align:center;
                }
                #u21 {
                  position:absolute;
                  left:43px;
                  top:152px;
                  width:164px;
                  height:28px;
                }
                #u21_img {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:164px;
                  height:28px;
                }
                #u22 {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:164px;
                  white-space:nowrap;
                }
                #u23 {
                  position:absolute;
                  left:950px;
                  top:145px;
                  width:167px;
                  height:28px;
                  z-index: 3;
                }

                #u24 {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:167px;
                  white-space:nowrap;
                }
                #u25 {
                  position:absolute;
                  left:950px;
                  top:200px;
                  width:198px;
                  height:32px;
                  z-index: 3;
                }

                #u26 {
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:198px;
                  word-wrap:break-word;
                }

        </style>
        <script>
        var map;
        var markers = [];
        var path = [];
        var myCenter=new google.maps.LatLng(43.662795864230645,-79.39454555511475);
        var userla;
        var userlo;
        var vold;

        function show(){
            var h = document.getElementsByClassName("abc");
            for (var i = 0; i<h.length; i++) {
                h[i].style=" ";
            }
        }

        function initialize()
        {
            var mapProp = {
            center:myCenter,
            zoom:13,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
            var marker = new google.maps.Marker({
                position: myCenter,
                title:'Click to zoom'
        });
        map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        google.maps.event.addListener(map, 'click', function(event) {
        deleteMarkers();
        addMarker(event.latLng);
            });
        google.maps.event.addListener(map,'center_changed',function() {
            if (markers.length == 0) {
                window.setTimeout(function() {
                 map.panTo(marker.getPosition());
              },3000);
                window.setTimeout(function() {
                 map.setZoom(16);},3000);
            }else{
                window.setTimeout(function() {
                 map.panTo(markers[0].getPosition());
              },3000);
                window.setTimeout(function() {
                 map.setZoom(16);},3000);
            }
        });
        }
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
            }
            for (var i = 0; i < path.length; i++) {
            path[i].setMap(map);
            }
            }
        function deleteMarkers() {
            setMapOnAll(null);
            markers = [];
            path = [];
        }
        function addMarker(location) {
            var marker = new google.maps.Marker({
            position: location,
            animation:google.maps.Animation.BOUNCE,
            map: map
            });
            var infowindow = new google.maps.InfoWindow({
            content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()

            });
            var la = location.lat();
            var ln = location.lng();
            userla = la;
            userlo = ln;
            markers.push(marker);
            infowindow.open(map, marker);
            var myCity = new google.maps.Circle({
                center:location,
                strokeColor:"#0000FF",
                strokeOpacity:0.8,
                strokeWeight:2,
                fillColor:"#0000FF",
                fillOpacity:0.4
                });
            path.push(myCity);
            setMapOnAll(map);
            /*document.getElementById("la").innerHTML=userla;
            document.getElementById("ln").innerHTML=userlo;*/
            }

            google.maps.event.addDomListener(window, 'load', initialize);

            function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
              var R = 6371; // Radius of the earth in km
              var dLat = deg2rad(lat2-lat1);  // deg2rad below
              var dLon = deg2rad(lon2-lon1); 
              var a = 
                    Math.sin(dLat/2) * Math.sin(dLat/2) +
                    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
                    Math.sin(dLon/2) * Math.sin(dLon/2)
                    ; 
              var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
              var d = R * c; // Distance in km
              return d;
            }

            function calculate(){
              var mind=100000000000000000000;
              for(var i =0; i < volunList.length; i++ ){
                  var heng = volunList[i].latitude;
                  var zong = volunList[i].altitude;
                  var d = getDistanceFromLatLonInKm(userla,userlo,heng,zong);
                  if(d<mind){
                      mind = d;
                      vold = mind;                  
                    }                
              }

              
              document.getElementById("haha").value = userlo;
            }
            
            </script>
    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>
        
                 <div id="base" class="">

      <!-- Unnamed (Shape) -->
      
      <div id="u0" class="ax_shape">
<!--         <img id="u0_img" class="img " src="images/search_page/u0.png"/> -->
        <div id="u1" class="text">
        </div>
      </div>

      <!-- Top white space-->
      <div id="u2" class="ax_shape">

      </div>


      <!-- page title -->


      <!-- Unnamed (Image) -->
      <div id="u10" class="ax_image">
        <div id="googleMap" style="width:650px;height:540px;"></div>
      </div>

      <!-- location search box -->
      <div id="u12" class="ax_shape">
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u14" class="ax_droplist">
        <select id="u14_input">
          <option value="Within 1000m">Within 100km</option>
          <option value="1000m ~ 5000m">100km ~ 500km</option>
        </select>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u15" class="ax_paragraph">
        <!-- Unnamed () -->
        <div id="u16" class="text">
          <p><span>Distance from your location</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u17" class="ax_paragraph">

        <!-- Unnamed () -->
        <div id="u18" class="text">
          <p><span>Pleace add marker of your</span></p>
          <p><span>location on map</span></p>
        </div>
      </div>

   

      <!-- Unnamed (HTML Button) -->
      <div id="u20" class="ax_html_button">
        <input id="u20_input" onclick="show()" type="submit" value="Search Volunteer"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u21" class="ax_h2">

        <!-- Unnamed () -->
        <div id="u22" class="text">
          <p><span>Refine my search</span></p>
        </div>
      </div>

      <!-- no volunteer text hint title-->
      <div id="u23" class="ax_h2">
        <div id="u24" class="text">
          <p><span>Current Status</span></p>
        </div>
      </div>

      <!-- no volunteer text hint -->
      <div id="u25" class="ax_paragraph">
        <div id="u26" class="text">
          <p id = "volfind"></p>
          <% for(var i=0; i<volunList.length; i++) {%>
                  <li class="abc" style="display: none;"><%= volunList[i].local.username %></li>
                  <p class="abc" style="display: none;"><%= volunList[i].local.email %></p>

        <% } %>
        </div>
      </div>
      </div>




      

        </body>
</html>